<footer class="main-footer">
    <div class="pull-right hidden-xs">
        {% if disableMenu is not defined %}
        <a href="{{ path("get_changelog") }}">Nouveautés dans l'application</a>
            |
        {% endif %}
 
        <b>Version</b> 1.0
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="http://legrain.fr">Legrain Informatique</a>.</strong> Tous droits réservés.
</footer>