{% extends 'base.html.twig' %}


{% block body %}

    <div class="login-box">
        <div class="login-logo">
            <b>GWI</b>Hosting</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
          <p>Merci pour votre message, nous vous contacterons dès que possible.
          </p>
<p>
    <a href="https://www.gwi-hosting.fr" class="btn btn-default btn-block btn-lg">Retour vers Gwi-hosting</a>
</p>

        </div>
    </div>





{% endblock %}
