{% extends 'base.html.twig' %}

{% block body %}

    <!-- Site wrapper -->
    <div class="wrapper">



            <!-- Main content -->
            <section class="content">


                <a href="http://dev.paiement-externe.fr/app_dev.php/cb/{{ url }}">Payer par carte</a>





            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->

        {% include 'footer.html.twig' %}




    </div><!-- ./wrapper -->
{% endblock %}
