{% extends 'base.html.twig' %}

{% block body %}

    <div class="login-box">
        <div class="login-logo">
            <b>GWI</b>Hosting</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}
            <p>
                <a href="{{ path("homepage") }}" class="btn btn-default btn-block btn-flat">Retour à l'écran de connexion</a>
            </p>


        </div>
    </div>
{% endblock %}
